/*Botão de scroll top*/
.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(5, 103, 231);
    border-radius: 6px;
    border: solid rgb(5, 103, 231);
    text-decoration: none;
    cursor: pointer;
    display: none;
}
.botao::after {
    content: "↑";
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 350ms;
}
.botao:hover::after {
    margin-top:-8px;
}
/*Botão de áudio*/
.botao-audio{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 20vw;
    height: 25px;
    padding: 1px;
    border-radius: 14px;
    background-color:  #222;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}
