* {
    margin: 0;
    padding: 0;
}
#carouselExampleIndicators {
    background-color: #cccccc;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 520px;   
}
.carousel-item img {
    height: 320px;
    border-radius: 6px;
    position: relative;
    display: flex;
    margin: auto;
}
.card_img img{
    width: 18rem; 
}
main .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.card_img {
    overflow: hidden;
}
.card_img img {
    height: 190px;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: 0.6s ease;
    box-shadow:  8px 12px 8px rgb(43, 43, 43);
}

.card_img:hover img {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    cursor: pointer;
  }

