* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
} 
main {
    background-color: rgb(230, 230, 230);
}
img {
    max-width: 40rem;
    height: auto;
}
.dropdown-menu {
    position:absolute;
}
.navegador, #navbarDropdown{
    text-decoration: none;
    margin-left: 1.5rem;
    color: white;
}
.frase-inicio {
    height: 35rem;
    background-image: url(../imagens/ayrton-capacete-fullhd.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    padding: 2rem;
    color: white;
    font-size: 14pt;
    margin-top: 5rem;
}
.navbar-brand img {
    width: 80px;
    height: auto;
}
footer {
    display: flex;
    height: 8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer .fab {
    width: 15px;
    height: 15px;
}