@media (max-width: 1000px){
    .navbar.navbar-dark.bg-dark.fixed-top .container {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    main {
        margin-top: 4rem;
    }
}
@media (max-width: 770px){
    .navbar.navbar-dark.bg-dark.fixed-top .container .menu-bar .navegador {
        display: flex;
        flex-direction: column;
        font-size: 14pt;
    }
    main {
        margin-top: 13rem;
    }
    section .container .row.mt-5 .col .media img {
        width: 30rem;
    }
}
@media (max-width: 770px){
    .navbar.navbar-dark.bg-dark.fixed-top .container .menu-bar .navegador {
        display: flex;
        flex-direction: column;
        font-size: 14pt;
    }
    main {
        margin-top: 13rem;
    }
    section .container .row.mt-5 .col .media img {
        width: 30rem;
    }
}
@media (max-width: 510px){
    section .container .row.mt-5 .col .media img {
        width: 20rem;
        align-items: center;
    }
    footer {
        display: flex;
        flex-direction: column;
        height: 13rem;
        margin: auto;
    }
    /*Ajuste de margens para compensar a inclusão de margem negativa direto no html (bootstrap)*/
    footer #icon-assinatura { 
        margin-right: -2rem;
    }
    footer #by-john {
        margin-right: -4.5rem;
    }
    footer #icons-roda-pe {
        margin-bottom: 1.5rem;
    }
}

