/*responsivo do index, do nav e footer de todas as pages*/
@media (max-width: 1000px){
    .navbar.navbar-dark.bg-dark.fixed-top .container {
        display: flex;
        height: auto;
        justify-content: space-around;
        align-items: center;
    }
    main {
        margin-top: 4rem;
    }
}
@media (max-width: 770px){
    .navbar.navbar-dark.bg-dark.fixed-top .container .menu-bar .navegador {
        display: flex;
        font-size: 14pt;
    }
    main {
        margin-top: 6.5rem;
    }
    section .container .row.mt-5 .col .media img {
        width: 30rem;
    }
}
@media (max-width: 510px){
    section .container .row.mt-5 .col .media img {
        width: 20rem;
        align-items: center;
    }
    footer {
        display: flex;
        flex-direction: column;
        height: 13rem;
        margin: auto;
    }
    /*Ajuste de margens para compensar a inclusão de margem negativa direto no html (bootstrap)*/
    footer #icon-assinatura { 
        margin-right: -2rem;
    }
    footer #by-john {
        margin-right: -4.5rem;
    }
    footer #icons-roda-pe {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
}
/*responsivo da page galeria de fotos*/
@media (max-width: 1150px){
    main #carouselExampleIndicators #botao-carousel{
    display: none;
    }
}
@media (max-width: 960px){
    #fotos-galeria .d-flex.mt-4{
        display: flex;
        flex-direction: column;
        margin-left: -1rem;
    }
    #fotos-galeria .d-flex.mt-4 img {
        width: 35rem;
        height: auto;
        margin: auto;
        align-items: center;
        justify-content: center;
    }   
}
@media (max-width: 660px){
    #fotos-galeria .d-flex.mt-4 img {
        width: 25rem;
        height: auto;
    }
    .carousel-item img {
        width: 100%;
        height: 100%;
    }
    main #carouselExampleIndicators {
        padding: 0 20px;
    }
}
/*responsivo da page carros*/
@media (max-width: 650px){
    section .pista {
        width: 100vw;
    }
    section .pista .lista-carros{
       display: flex;
       flex-direction: column;
    }
    section .pista .lista-carros .carro-impar img{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    section .pista .lista-carros .carro-par img{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    section .pista .lista-carros .carro-impar {
        margin-top: 1rem;
    }
    section .pista .lista-carros .carro-par {
        margin-top: 1rem;
    } 
}
/*responsivo da page videos*/
@media (min-width:1001px){
    main .videos #vid-esquerda1,#vid-esquerda2 {
        flex-direction: row-reverse;
    }
    main .videos #vid-esquerda1 p{
        margin-top: 1.5rem;
        margin-right: 2rem;
    }
    main .videos #vid-esquerda2 p{
        margin-top: 1.5rem;
        margin-right: 2rem;
    }
}
@media (max-width: 1000px){
    main .videos {
        width: 100vw;   
    }
    main .videos .embed-responsive.embed-responsive-16by9 {
        flex-direction: column;
        align-items: center;
    }
    main .videos #vid-esquerda1,#vid-esquerda2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1.8rem;
    }
    main .videos #vid-esquerda1 p{
        margin-top: 1.2rem;
    }
    main .videos #vid-esquerda2 p{
        margin-top: 1.2rem;
    }
    iframe {
        width: 70%;
        max-height: auto;
    }
}
@media (max-width: 560px){   
    iframe {
        width: 80%;
        height: auto;
    }
}
/*responsivo da page rivalidade*/
@media (max-width: 730px){
    main .rivalidade {
        width: 80vw;
    }
    main .rivalidade img {
        width: 85%;
        height: auto;
    }
}
@media (max-width: 425px){
    main .rivalidade {
        padding-top: 9.5rem;
    }
}

