* {
    margin: 0;
    padding: 0;
}
main {

    height: auto;
}
h1 {
    display: flex;
    margin: auto;
    padding-top: 8rem;
    padding-bottom: 2rem;
    justify-content: center;
}
.videos {
    justify-content: center;
    margin: auto;
}
.embed-responsive.embed-responsive-16by9{
    display: flex;
    margin: auto;
    margin-top: 2rem;
    font-size: 14pt;
}
main .videos p{
    width: 20rem;
    align-items: end;
}
